<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344189107653-13d1uug5dvkdt29gh9n5cbo8arv5popc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344189107653-13d1uug5dvkdt29gh9n5cbo8arv5popc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>344189107653-4i7n1m66upmjp7mqqq2jksqqclideo4j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCImCBS0vNNjnyD43GQ17VhKTXhTG2BXmI</string>
	<key>GCM_SENDER_ID</key>
	<string>344189107653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mighty.newsfirebase</string>
	<key>PROJECT_ID</key>
	<string>mighty-news-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>mighty-news-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344189107653:ios:4b69c9a04ece6fb5419fac</string>
</dict>
</plist>